$padding: 4px;

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.body {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
}

.stage-container {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 0.5rem;
}

.stage1,
.stage2,
.stage3,
.stage4 {
  display: flex;
  flex-direction: row;
  // gap: 2rem;
}

.stage-name {
  background-color: hsla(210, 100%, 50%, 0.125);
  align-content: center;
  padding: $padding;
  .stage1 & {
    background-color: rgb(243, 227, 129);
  }
  .stage2 & {
    background-color: rgb(241, 203, 114);
  }
  .stage3 & {
    background-color: rgb(239, 177, 98);
  }
  .stage4 & {
    background-color: rgb(238, 154, 83);
  }
}

.steps-container {
  display: flex;
  flex-direction: column;
  // gap: 4px;
}
.step {
  display: flex;
  flex-direction: row;
  padding: $padding;
  width: 81vw;
  justify-content: flex-start;
  &:nth-child(even) {
    background-color: white;
  }
  &:nth-child(odd) {
    background-color: rgb(254, 249, 222);
  }
}

.goal {
  width: 27vw;
}
