$padding: 0.5rem;
$box-shadow:
  rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

$stage-box-shadow: rgba(50, 50, 93, 0.25) 3px 3px 5px 2px;

$window-margins: 4rem;

#root {
  padding: 0 $window-margins;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  gap: 1rem;
}

.settings-container {
  display: flex;
  flex-direction: column;
  padding: $padding;
  border-radius: 0.5rem;
  background-color: #e8e4ff;
  box-shadow: $box-shadow;

  & .curr-step-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    gap: 1rem;
    & #current-step,
    & input {
      font-size: 1.25rem;
      padding: $padding;
      border-radius: 1rem;
      border: 1px solid #fff;
      width: 4rem;
      text-align: right;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 10px -5px;
    }
    & label {
      align-content: center;
      margin-right: 0.5rem;
    }
  }

  & .filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .filters {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.totals-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: $padding;
  border-radius: 0.5rem;
  background-color: #e8e4ff;
  box-shadow: $box-shadow;
  & .totals-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

$stage-w: 4rem;
.stage-container {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: $stage-w * 0.6;
  position: relative;
}

.floaty {
  background-color: rgba(248, 211, 232, 0.8);
  position: absolute;
  height: calc(100% - $window-margins);
  width: calc(100vw - $window-margins);
  left: calc($window-margins / 2 * -1);
  top: calc($window-margins / 2);
  z-index: -1;
}

.stage1,
.stage2,
.stage3,
.stage4 {
  display: flex;
  flex-direction: row;
  box-shadow: $stage-box-shadow;
  border: 3px solid white;
}

@mixin stage-name-arrow($color) {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: calc(-1 * ($stage-w / 2 + $padding));
  border-width: calc($stage-w / 2) calc($stage-w / 2 + $padding);
  border-style: solid;
  border-color: $color transparent transparent transparent;
}

@mixin stage-name-arrow-border {
  content: "";
  position: absolute;
  top: calc(100% + 3px); /* At the bottom of the tooltip */
  left: 50%;
  margin-left: calc(-1 * ($stage-w / 2 + $padding) - 2.12px);
  border-width: calc($stage-w / 2 + 2px) calc(($stage-w / 2 + $padding) + 2px);
  border-style: solid;
  border-color: white transparent transparent transparent;
  filter: drop-shadow(2px 3px 3px rgba(50, 50, 93, 0.25));
}

// TODO: monthly
$st1color: rgb(191, 171, 108);
$st2color: rgb(192, 157, 99);
$st3color: rgb(191, 146, 84);
$st4color: rgb(181, 122, 69);
.stage-name {
  background-color: hsla(210, 100%, 50%, 0.125);
  align-content: center;
  padding: $padding $padding 0;
  width: $stage-w;
  text-align: center;
  color: white;
  font-weight: normal;
  position: relative;
  h2 {
    font-size: 1.25rem;
  }
  .stage1 & {
    background-color: $st1color;
    &::after {
      @include stage-name-arrow($st1color);
    }
    &::before {
      @include stage-name-arrow-border();
    }
  }
  .stage2 & {
    background-color: $st2color;
    &::after {
      @include stage-name-arrow($st2color);
    }
    &::before {
      @include stage-name-arrow-border();
    }
  }

  .stage3 & {
    background-color: $st3color;
    &::after {
      @include stage-name-arrow($st3color);
    }
    &::before {
      @include stage-name-arrow-border();
    }
  }
  .stage4 & {
    background-color: $st4color;
    &::after {
      @include stage-name-arrow($st4color);
    }
    &::before {
      @include stage-name-arrow-border();
    }
  }
}

.steps-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// todo: make this more exciting
.selected {
  font-weight: bold;
  text-decoration: underline;
}

.step {
  display: flex;
  flex-direction: row;
  padding: $padding;
  justify-content: flex-start;
  &:nth-child(even) {
    background-color: white;
  }
  &:nth-child(odd) {
    background-color: rgb(254, 249, 222);
  }
}

.goal {
  width: 33%;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: 0.25rem;
  border-radius: 4rem;
  width: 1rem;
  height: 1rem;
  background-color: #fffa;
  border: 1px solid #888;
  &:hover {
    border: 1px solid #333;
    background-color: #ccca;
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  left: 150%;
  top: -0.5rem;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 690px) {
  // scoot in the margins around the window on smaller widths
  #root {
    padding: 0 $window-margins / 4;
  }

  .floaty {
    height: calc(100% - $window-margins / 4);
    width: calc(100vw - $window-margins / 4);
    left: calc($window-margins / 8 * -1);
    top: calc($window-margins / 8);
  }
}
